In [22]:
import pandas as pd

In [23]:
df=pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [24]:
df=df.drop(["RowNumber","CustomerId","Surname"],axis=1)

In [25]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

label_encoder_gender = LabelEncoder()
df["Gender"] = label_encoder_gender.fit_transform(df["Gender"])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [26]:
# one hot encoding "Geography"

onehot_encoder_geo= OneHotEncoder(handle_unknown="ignore")
geo_encoded= onehot_encoder_geo.fit_transform(df[["Geography"]]).toarray()
encoded_dataframe = pd .DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(["Geography"]))

encoded_dataframe

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [27]:
df=pd.concat([df.drop("Geography",axis=1),encoded_dataframe],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [28]:
x = df.drop(['EstimatedSalary'],axis=1)
y = df["EstimatedSalary"]

In [29]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [30]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_Scaled = scaler.fit_transform(x_train)
x_test_Scaled = scaler.transform(x_test)

In [31]:
##save models
import pickle
with open("label_encoder_gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)
    
with open("onehot_encoder_geo.pkl","wb") as file:
    pickle.dump(onehot_encoder_geo,file)

with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

In [33]:
#first method

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

#build the model
model=Sequential(
    [
        Dense(64,activation="relu",input_dim=(x_train_Scaled.shape[1])),
        Dense(32,activation="relu"),
        Dense(1)
    ]
)
model.compile(loss="mean_absolute_error",optimizer="adam",metrics=["mae"])
model.summary()

c:\Users\himek\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
#second method


# from tensorflow.keras.models import Sequential 
# from tensorflow.keras.layers import Dense,Dropout

# #defining the ann model
# model=Sequential()

# #input layer
# model.add(Dense(68,activation="relu",input_dim=x_train_scaled.shape[1]))

# #hidden layer
# model.add(Dense(32,activation="relu"))
# model.add(Dense(24,activation="relu"))
# model.add(Dense(22,activation="relu"))

# #output layer
# model.add(Dense(1))

# #compile our model
# model.compile(loss="mean_absolute_error",optimizer="adam",metrics=["mae"])
# model.summary()

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir=r"regressionlogs"+ datetime.datetime.now().strftime("%y%m%d-%H%M%S")

tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)
#set up Earlystopping
early_stopping=EarlyStopping(
    monitor="val_loss",
    patience=10,
    restore_best_weights=True
)

history = model.fit(
    x_train_Scaled,y_train,
    validation_data=(x_test_Scaled,y_test),
    epochs=50,
    callbacks=[early_stopping,tensorboard_callback]
    )

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 100875.4375 - mae: 100875.4375 - val_loss: 98527.6094 - val_mae: 98527.6094
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99593.0469 - mae: 99593.0469 - val_loss: 97109.9297 - val_mae: 97109.9297
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99442.1953 - mae: 99442.1953 - val_loss: 93498.9062 - val_mae: 93498.9062
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 94397.5781 - mae: 94397.5781 - val_loss: 87431.3516 - val_mae: 87431.3516
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 87719.2344 - mae: 87719.2344 - val_loss: 79474.2734 - val_mae: 79474.2734
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 79503.9844 - mae: 79503.9844 - val_loss: 70957.7031 - val_mae: 70957.7031
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 69593.1875 - mae: 69593.1875 - val_loss: 63221.3398 - val_mae: 63221.3398
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 62313.0703 - mae: 62313.0703 - val_loss: 57263.6211 - val_mae: 57263.6211
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 57168.7461 - mae: 57168.7461 - val_loss: 53633.1758 - val_mae: 53633.1758
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 53630.4414 - mae: 53630.4414 - val_loss: 51837.4961 - val_mae: 51837.4961
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51081.8516 - mae: 51081.8516 - val_loss: 51143.2383 - val_mae: 51143.2383
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51061.3359 - mae: 51061.3359 - val_loss: 50890.2344 - val_mae: 50890.2344
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51021.4023 - mae: 51021.4023 - val_loss: 50814.2266 - val_mae: 50814.2266
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50067.8008 - mae: 50067.8008 - val_loss: 50775.7227 - val_mae: 50775.7227
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49818.0859 - mae: 49818.0859 - val_loss: 50728.0898 - val_mae: 50728.0898
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50654.3203 - mae: 50654.3203 - val_loss: 50692.6875 - val_mae: 50692.6875
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50305.2656 - mae: 50305.2656 - val_loss: 50641.0742 - val_mae: 50641.0742
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50403.7695 - mae: 50403.7695 - val_loss: 50605.7969 - val_mae: 50605.7969
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49844.4727 - mae: 49844.4727 - val_loss: 50588.9219 - val_mae: 50588.9219
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49779.3750 - mae: 49779.3750 - val_loss: 50558.9297 - val_mae: 50558.9297
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50252.7891 - mae: 50252.7891 - val_loss: 50529.8320 - val_mae: 50529.8320
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50846.8398 - mae: 50846.8398 - val_loss: 50511.5078 - val_mae: 50511.5078
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49916.4102 - mae: 49916.4102 - val_loss: 50491.2930 - val_mae: 50491.2930
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50355.7188 - mae: 50355.7188 - val_loss: 50475.2266 - val_mae: 50475.2266
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50056.8438 - mae: 50056.8438 - val_loss: 50469.7812 - val_mae: 50469.7812
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49821.0273 - mae: 49821.0273 - val_loss: 50454.4609 - val_mae: 50454.4609
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50634.4141 - mae: 50634.4141 - val_loss: 50441.7930 - val_mae: 50441.7930
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50344.3477 - mae: 50344.3477 - val_loss: 50435.5352 - val_mae: 50435.5352
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49959.7070 - mae: 49959.7070 - val_loss: 50423.8438 - val_mae: 50423.8438
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49687.3008 - mae: 49687.3008 - val_loss: 50410.8711 - val_mae: 50410.8711
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50021.3008 - mae: 50021.3008 - val_loss: 50415.1133 - val_mae: 50415.1133
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49699.6289 - mae: 49699.6289 - val_loss: 50402.8594 - val_mae: 50402.8594
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49779.9883 - mae: 49779.9883 - val_loss: 50394.3672 - val_mae: 50394.3672
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49929.7031 - mae: 49929.7031 - val_loss: 50392.2461 - val_mae: 50392.2461
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49798.7031 - mae: 49798.7031 - val_loss: 50372.0234 - val_mae: 50372.0234
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49908.7461 - mae: 49908.7461 - val_loss: 50359.7891 - val_mae: 50359.7891
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49688.1133 - mae: 49688.1133 - val_loss: 50358.4336 - val_mae: 50358.4336
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49477.8203 - mae: 49477.8203 - val_loss: 50368.3828 - val_mae: 50368.3828
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49685.3867 - mae: 49685.3867 - val_loss: 50367.0977 - val_mae: 50367.0977
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50458.3047 - mae: 50458.3047 - val_loss: 50370.2734 - val_mae: 50370.2734
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50136.6250 - mae: 50136.6250 - val_loss: 50356.9961 - val_mae: 50356.9961
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50143.5898 - mae: 50143.5898 - val_loss: 50359.3477 - val_mae: 50359.3477
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49398.8203 - mae: 49398.8203 - val_loss: 50350.5703 - val_mae: 50350.5703
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49879.8750 - mae: 49879.8750 - val_loss: 50341.2188 - val_mae: 50341.2188
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49223.9727 - mae: 49223.9727 - val_loss: 50351.6523 - val_mae: 50351.6523
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48911.4648 - mae: 48911.4648 - val_loss: 50355.2188 - val_mae: 50355.2188
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49498.9492 - mae: 49498.9492 - val_loss: 50350.3594 - val_mae: 50350.3594
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49897.3359 - mae: 49897.3359 - val_loss: 50332.3789 - val_mae: 50332.3789
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49509.4961 - mae: 49509.4961 - val_loss: 50336.2656 - val_mae: 50336.2656
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49082.8086 - mae: 49082.8086 - val_loss: 50333.2109 - val_mae: 50333.2109